{% extends 'AppBundle::baseAdmin.html.twig' %}

    {% block body -%}
        <h1>Authority</h1>

        <table class="table">
            <tbody>
            <tr>
                <th>Firstname</th>
                <td>{{ entity.firstName }}</td>
            </tr>
            <tr>
                <th>Lastname</th>
                <td>{{ entity.lastName }}</td>
            </tr>
            <tr>
                <th>Country</th>
                <td>{{ entity.country }}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Createdat</th>
                <td>{{ entity.createdAt|date(defaultDateTimeFormat) }}</td>
            </tr>
            <tr>
                <th>Updatedat</th>
                <td>{{ entity.updatedAt|date(defaultDateTimeFormat) }}</td>
            </tr>
            <tr>
                <th>Active</th>
                <td>{{ entity.active|fontAwesome() }}</td>
            </tr>
            </tbody>
        </table>

        <ul class="list-inline">
            <li>
                <a class="btn btn-primary" href="{{ path('admin_authorities.index') }}">
                    <i class="fa fa-arrow-left"></i> Back to the list
                </a>
            </li>
            <li>
                <a class="btn btn-primary"
                   href="{{ path('admin_authorities.edit', { 'id': entity.id }) }}">
                    <i class="fa fa-edit"></i> Edit
                </a>
            </li>
            <li>{{ form(delete_form) }}</li>
        </ul>
    {% endblock %}
